<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
</head>
<body>
    <h2>{{bookh.title}}</h2>
    <p>ID {{bookh.id}}</p>
    <p >Description<textarea name="books" id="books" cols="30" rows="10">{{bookh.desc}}</textarea></p>

    <p>Authors</p>
    <ul>
        {% for author in bookh.authors.all %}
        <li>{{author.first_name}}</li>
    </ul>
        {% endfor %}
    <form action="/addauthor/{{bookh.id}}" method="post">
    {% csrf_token %}
    <select name="selectauthor" id="selectauthor">
        {% for author in allauthors %}
        <option value="{{author.first_name}}">{{author.first_name}}</option>
        {% endfor %}       
    </select>
    <button type="submit">add</button>
    </form>
</body>
</html>