<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<form action="/authors/addauthor" method="post">
{% csrf_token %}
<h1>Add a Authors</h1>
<div><p>First Name</p><input type="text" name="first_name"></div>
<div><p>Last Name</p><input type="text" name="last_name"></div>
<div><p>Notes</p><textarea name="mynots"></textarea></div>
<button type="submit">add</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
{% for author in authorm %}
<tr>
    <td>{{author.id}}</td>
    <td>{{author.first_name}} {{author.last_name}}</td>
    <td><a href="/authors/{{author.id}}"  name="{{author.first_name}}">view</a></td> 
</tr>
{% endfor %}

</table>
</body>
</html>