<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fbook2</title>
</head>
<body>
    <div class="r1">
        <h1> welcome,{{uploader.first_name}}!!</h1>
        <a href="/logout"><button type="button" class="btn btn-outline-primary">logout</button></a>
       </div>

    <h1>{{mybook.title}}</h1>
    <h3>Added By: {{uploader.first_name}}   {{uploader.last_name} </h3>
    <h3>Added on :{{uploder.created_at}}</h3>
    <h3>Last abdated at:{{uploder.updated_at}}</h3>
        <div>
            <h3>Description </h3>
            <h4>{{mybook.desc}</h4>
        </div>
<div class="col2">
    <h1>Users who Like This Book</h1>
    <ul>
    {% for book in uploader.liked_books.all  %}
    <li>book.title</li>
    {% endfor %}
    </ul>
</div>
<a href="/addfavbook/{{mybook.id}}">Add a Favourets</a>
</body>
</html>