<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fbook1</title>
</head>
<body>
    <div class="r1">
        <h1> welcome,{{uploder.first_name}}!!</h1>
        <a href="/logout"><button type="button" class="btn btn-outline-primary">logout</button></a>
       </div>
       <div style="border:2px solid black ;">
        <h1>There and Back Again</h1>
    </div>
    <h3>Added By: {{uploder.first_name}} {{uploder.last_name}}</h3>
    <h3>Added on :{{uploder.created_at}}</h3>
    <h3>Last abdated at:{{uploder.updated_at}}</h3>
    {%if updatedbook.uploader.id == request.session.user_id%}
    <form action="/update/{{updatedbook.id}}" method="post">
        {% csrf_token %}
        <div>
            <h3>Description </h3>
            <textarea name="fdesc" id="fdesc" cols="30" rows="10" style="border:2px solid black ;"></textarea>
        </div>
        <button type="submit" name="but" value="update" >update</button>
    </form>
    <form action="/update/{{updatedbook.id}}" method="post">
        {% csrf_token %}
        <button type="submit" name="but" value="delete" style="color:aliceblue; background-color: brown;" >delete</button> 
    </form>
    {% endif %}

</body>
</html>